html{
    color:pink;
}
h1{
    font-family:"flavors",cursive;
    font-size:76px;
    font-variant:small-caps;
    font-weight:200;
    line-height:20px;
    text-align:center;
    text-decoration:none;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 15px 15px 1px rgba(206,89,55,0.9);
    text-transform:uppercase;
  }
  